.App {
    display: flex;
    padding: 40px;
    font-size: 40px;
    justify-content: center;
}
.screens {
    margin: 20px;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
.red {
    color: red;
}